<!-- Footer -->
<footer class="footer footer-transparent d-print-none">
  <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                      Kagami Template
                  </li>
                  <li class="list-inline-item">
                      v1.0.0
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

<!-- Tabler Core JS -->
<script src="/vendor/tabler/js/tabler.min.js"></script>
<!-- Tom Select JS -->
<script src="/vendor/tom-select/js/tom-select.complete.min.js"></script>
<!-- Flatpickr JS -->
<script src="/vendor/flatpickr/flatpickr.min.js"></script>
<!-- Theme Toggle JS -->
<script src="/js/theme-toggle.js"></script>
</body>
</html>