<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <!-- Tabler Core CSS -->
    <link rel="stylesheet" href="/vendor/tabler/css/tabler.min.css">
    <!-- Tom Select CSS -->
    <link rel="stylesheet" href="/vendor/tom-select/css/tom-select.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="/vendor/flatpickr/flatpickr.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/<%= cssFile %>.css">

</head>